<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightWeight"
        tools:targetApi="31">
        <activity
            android:name=".PhysicalGraphActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddExercizeActivity"
            android:exported="false" />
        <activity
            android:name=".EditAddFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".EditExercizeActivity"
            android:exported="false" />
        <activity
            android:name=".EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".StatFoodActivity"
            android:exported="false" />
        <activity
            android:name=".StatFKActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalAccountActivity"
            android:exported="false" />
        <activity
            android:name=".AddPhotoProgressActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".CheckTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".AddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".AddTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPhysical"
            android:exported="false" />
        <activity
            android:name=".AddFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".CheckEatingActivity"
            android:exported="false" />
        <activity
            android:name=".AddEatingActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.LightWeight.Launcher"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>