<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightWeight"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AuthReg.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ManagementActivities.GraphActivities.PhysicalGraphActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.EditAddExercizeActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.EditAddFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.EditExercizeActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.GraphActivities.StatFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.GraphActivities.StatFKActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ManagementActivities.PersonalAccountActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivities.AddPhotoProgressActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivities.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicalActivities.CheckTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicalActivities.AddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicalActivities.AddTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".PhysicalActivities.ActivityPhysical"
            android:exported="false" />
        <activity
            android:name=".EatingActivities.AddFoodItemActivity"
            android:exported="false" />
        <activity
            android:name=".EatingActivities.CheckEatingActivity"
            android:exported="false" />
        <activity
            android:name=".EatingActivities.AddEatingActivity"
            android:exported="false" />
        <activity
            android:name=".EatingActivities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LightWeight.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>